################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/backend/api/.vs/api
/backend/api/WebApi/obj
/backend/api/WebApi/bin/Debug/net6.0
/backend/api/Database/bin/Debug/net6.0
/backend/api/Database/obj
